.container {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.btn {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1.5rem 2rem;
  font-family: var(--inter);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  white-space: nowrap;
  border-radius: 50px;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.white {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
}

.white:hover {
  scale: 1.05;
}

.noBackgroundWhiteText {
  background-color: transparent;
  color: var(--white);
}

.arrow {
  transform: rotate(90deg);
  font-size: 1.4rem;
  transition: all 0.2s ease-in-out;
  position: relative;
  top: 2px;
}

/* .noBackgroundWhiteText:hover .arrow {
  transform: rotate(90deg) translateY(-5px);
} */

@media (hover: hover) and (pointer: fine) {
  .white:hover {
    transform: scale(1.05);
  }

  .container:hover .arrow {
    transform: rotate(90deg) translateY(-5px);
  }
}