.container {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.btn {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 1.5rem 4rem;
  font-family: var(--inter);
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  white-space: nowrap;
  border-radius: 50px;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.white {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
}

.white:hover {
  background-color: var(--yellow2);
}

