.container {
  position: relative;
  background-color: var(--tan);
  margin: 1rem;
  border-radius: 25px;
  padding: 10rem 0rem;
  margin-top: 10rem;
  z-index: 2;
  overflow: hidden;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lottieBox {
  width: 100%;
  height: 200px;
  margin-bottom: 1rem;
}

.lottie {
  height: 100%;
  width: 100%;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
}

.heading {
  text-align: center;
  color: var(--black);
}

@media (max-width: 568px) {
  .container {
    padding: 5rem 0rem;
    padding-bottom: 10rem;
  }

  .lottieBox {
    height: 300px;
  }

  .heading {
    font-size: 10vw;
  }
}
