.container {
  position: relative;

  z-index: 2;
  overflow: hidden;
}

.content {
  padding: 10rem 0rem;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 200px;
}

.img {
  object-fit: contain;
}

.left, .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  /* padding: 3rem; */
}

.left {
  gap: 0rem;
}

.copy {
  font-size: 1.8rem;
  color: var(--text);
  font-weight: 600;
  text-align: center;
  width: 90%;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.heading {
  text-align: center;
  color: var(--black);
}


@media screen and (max-width: 568px) {
  .left {
    gap: 1.5rem;
  }
  
  .imgContainer {
    height: 150px;
  }
}
