.header {
  position: relative;
  width: 100%;
  /* padding: 0.7rem 30px; */
  z-index: 1;
}

.navbar {
  /* max-width: 1400px;           */
  margin: 0 auto;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logoContainer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  pointer-events: auto;
  width: auto;
}

.navItems {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  background-color: var(--black);
}

.navItem {
  font-family: var(--SuisseIntlMedium);
  text-transform: capitalize;
  font-size: 1.4rem;
  line-height: 1;
  color: var(--tan);
  user-select: none;
}

.btnContainer {
  display: flex;
  align-items: center;
}

.navItemsMobile,
.btnContainerMobile {
  display: none;
}

.hamburger {
  display: none;
  z-index: 999;
  position: relative;
}

.whiteBar {
  position: relative;
  z-index: 9999;
  display: block;
  width: 55px;
  height: 3px;
  margin: 5px auto;
  border-radius: 15px;
  background-color: var(--tan);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 868px) {
  .navbar {
    align-items: center;
    justify-content: flex-end;
  }

  .navItems {
    position: fixed;
    right: -100%;
    top: 0px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3rem;
    width: 100%;
    height: 100vh;
    transition: 0.3s all ease-in;
    z-index: 1000;
    padding: 2rem;
    padding-top: 15rem;
    transform-origin: top;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in;
    backdrop-filter: blur(5px);
    border: 1px solid var(--tan);
    border-radius: 10px;
  }

  .navItems.active {
    right: 0%;
  }

  .navItem {
    color: var(--black);
    font-size: 5vw;
    font-family: var(--PPNeueMontrealMediumThick);
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    background-color: var(--tan);
    border-radius: 15px;
    width: 100%;
    padding: 2rem;
    /* padding-bottom: 1rem; */
  }

  .btnContainer {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 9999;
  }

  .hamburger.active .whiteBar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
    background-color: var(--tan);
  }

  .hamburger.active .whiteBar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .whiteBar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
    background-color: var(--tan);
  }
}
