.container {
  padding: 5rem 0rem;
  width: 100%;
}

.sectionHeadingContainer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.heading {
  text-align: center;
  margin-top: 2rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  grid-row-gap: 10rem;
  margin-top: 5rem;
}

.card {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  /* padding: 3rem; */
}

.imgContainer {
  position: relative;
  width: 250px;
  height: 250px;
  margin-bottom: 1rem;
}

.imgContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--pink);
  opacity: 0.3;
  border-radius: 15px;
  -webkit-mask-image: url(/icons/blob.svg);
  mask-image: url(/icons/blob.svg);
  -webkit-mask-position: 50% center;
  mask-position: 50% center;
  -webkit-mask-size: auto 100%;
  mask-size: auto 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  animation: rotate 10s linear infinite;
}

.card:nth-child(1) .imgContainer::before {
  background-color: var(--blue);
  opacity: 0.3;
}

.card:nth-child(2) .imgContainer::before {
  background-color: chartreuse;
  opacity: 0.1;
}

.card:nth-child(4) .imgContainer::before {
  background-color: var(--green);
  opacity: 0.1;
}

.card:nth-child(5) .imgContainer::before {
  background-color: var(--yellow);
  opacity: 0.1;
}

.card:nth-child(6) .imgContainer::before {
  background-color: var(--blueii);
  opacity: 0.1;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.img {
  object-fit: contain;
}

.title {
  text-align: center;
  font-family: var(--PPNeueMontrealMediumThick);
}

.icon {
  font-size: 10rem;
  color: var(--blackii);
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .imgContainer {
    width: 190px;
    height: 190px;
  }
}

@media screen and (max-width: 568px) {
  .imgContainer {
    width: 120px;
    height: 120px;
  }
}
