.container {
  position: relative;
  padding: 20rem 0rem;
  padding-top: 0rem;
}

.cornerContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  pointer-events: auto;
}

.heading {
  color: var(--black);
  width: 80%;
  font-size: 3rem;
}

.span {
  font-family: var(--PPNeueMontrealMediumThick);
  color: var(--blue);
}

.bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}

.imgContainer {
  position: relative;
  width: 200px;
  height: 200px;
  margin-top: 5rem;
}

.img {
  object-fit: contain;
}

@media screen and (max-width: 1268px) {
  .heading {
    width: 100%;
  }
}

@media screen and (max-width: 1068px) {
  .container {
  padding: 20rem 0rem;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .left {
    align-items: center;
    justify-content: center;
  }

  .heading {
    text-align: center;
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    width: 100%;
  }
}


@media screen and (max-width: 380px) {
  .span {
    white-space: inherit;
  }
}
