.container {
  padding: 20rem 0rem;
}

.top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  margin-bottom: 5rem;
}

.heading {
  font-size: 4rem;
}

.topRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
}

.subheading {
  font-family: var(--PPNeueMontrealMediumThick);
  font-size: 2rem;
}

.subHeadingCopy {
  font-size: 1.8rem;
  color: var(--text);
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20rem;
  border-radius: 25px;
  padding: 3rem;
  position: relative;
}

.arrow {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--black);
  color: var(--tan);
  font-size: 5rem;
  padding: 1rem;
  border-radius: 50%;
  transform: rotate(90deg);
}

.left {
  background-color: var(--yellow);
  border: 1px solid var(--gray);
}

.right {
  background-color: var(--tan);
  border: 1px solid var(--gray);
}

.headingii {
  font-size: 3rem;
  font-family: var(--PPNeueMontrealMediumThick);
}

.copy {
  font-size: 2rem;
  width: 80%;
  color: var(--blackii);
}

.left .copy {
  color: var(--black);
}

.btnContainer {
  margin-top: 4rem;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .top {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 568px) {
  .btnContainer {
    display: grid;
    width: 100%;
    margin-top: 2rem;
  }

  .left,
  .right {
    align-items: center;
    justify-content: center;
    gap: 7rem;
  }

  .headingii,
  .copy {
    text-align: center;
  }

  .headingii {
    line-height: 1;
  }

  .copy {
    width: 100%;
  }

  .arrow {
    position: static;
  }
}
