.container {
    padding-top: 5rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

.card {
  border-radius: 25px;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  gap: 1rem;
}

.card:nth-child(1) {
  background-color: var(--pink);
}

.card:nth-child(2) {
  background-color: var(--yellow);
}
.card:nth-child(3) {
  background-color: var(--green);
}
.card:nth-child(4) {
  background-color: var(--purple);
}

.title {
  color: var(--black);
  font-size: 3.2rem;
  font-weight: 400;
  font-family: var(--PPNeueMontrealMediumThick);
}

.headline {
  font-family: var(--inter);
  color: var(--black);
  font-weight: 500;
  font-size: 1.4rem;
}

.ServicesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 2rem;
}

.item {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.3;
  font-family: var(--inter);
  text-transform: none;
  letter-spacing: -0.3px;
}