.container {
  background-color: var(--black);
  border-radius: 25px;
  margin: 1rem;
  position: relative;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  margin-top: 10rem;
}

.navContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  pointer-events: auto;
}

.left {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3rem;
}

.heading {
  color: var(--white);
}

.span {
  color: var(--blue);
}

.copy {
  color: var(--textii);
  width: 400px;
  font-size: 1.6rem;
}

.servicesContainer {
  list-style: none;
}

.service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  border-bottom: 1px solid var(--textii);
  color: var(--lightBlue);
  font-weight: 600;
  padding: 1rem 0rem;
  width: 100%;
}

.service:nth-child(1) {
  border-top: 1px solid var(--textii);
}

.blackDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--lightBlue);
  display: block;
  margin-left: auto;
}

.lottieBox {
  width: 100%;
  height: 500px;
}

.lottie {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1268px) {
  .lottieBox {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0rem;
  }

  .left {
    align-items: center;
    justify-content: center;
  }

  .heading,
  .copy {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .lottieBox {
    width: 100%;
    height: 500px;
  }
}

@media screen and (max-width: 568px) {
  .top {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .left .heading,
  .copy {
    width: 100%;
    text-align: left;
  }

  .left {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .lottieBox {
    height: 300px;
  }
}

@media screen and (max-width: 380px) {
  .span {
    white-space: inherit;
  }
}
