.container {
  background-color: var(--black);
  border-radius: 25px;
  position: relative;
  padding: 5rem 5rem;
  padding-bottom: 2rem;
}

.bottom {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 5rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.heading {
  color: var(--tan);
  width: 70%;
}

.span {
  font-family: var(--PPNeueMontrealMediumThick);
  color: var(--blue);
}

.leftCopy {
  color: var(--tan);
  width: 80%;
  font-size: 1.8rem;
  color: var(--textii);
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 450px;
  margin-top: 5rem;
}

.img {
  object-fit: contain;
  border-radius: 15px;
}

.right {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.dataMapBox {
  margin-top: 5rem;
}

.card {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--blackii);
}

.iconTitleContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.title {
  margin-bottom: 1rem;
  color: var(--tan);
  font-weight: 700 !important;
  font-family: var(--inter);
  font-size: 1.4rem;
}

.description {
  color: var(--gray);
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: var(--blue);
  font-size: 6rem;
}

@media screen and (max-width: 1268px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0rem;
  }

  .dataMapBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .card {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 3rem 5rem;
    padding-top: 8rem;
    padding-bottom: 10rem;
  }

  .sectionTop {
    align-items: center;
    justify-content: center;
  }

  .heading {
    width: 60%;
    text-align: center;
  }

  .leftCopy {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    width: 100%;
  }

  .leftCopy {
    width: 90%;
  }
}

@media screen and (max-width: 568px) {
  .container {
    padding: 4rem 5rem;
  }

  .left {
    align-items: flex-start;
  }

  .heading, .leftCopy {
    width: 100%;
    text-align: left;
  }

  .imgContainer {
    height: 300px;
  }
}
