.container {
  background-color: var(--black);
  border-radius: 25px;
  margin: 1rem;
  position: relative;
  padding: 3rem;
  padding-top: 10rem;
}

.cornerContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  pointer-events: auto;
}

.sectionTop {
  /* margin-top: 7rem; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}

.heading {
  color: var(--tan);
  width: 50%;
}

.span {
  font-family: var(--PPNeueMontrealMediumThick);
  color: var(--blue);
}

.leftCopy {
  width: 40%;
  color: var(--tan);
}

.bottom {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-gap: 5rem;
}

.imgContainer {
  position: relative;
  width: 400px;
  height: 400px;
}

.img {
  object-fit: contain;
}

.right {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3rem;
}

.card {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 4rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--blackii);
}

.indexInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.title {
  margin-bottom: 2rem;
  color: var(--tan);
  font-weight: 700;
  font-family: var(--inter);
  font-size: 1.4rem;
}

.description {
  color: var(--gray);
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: var(--blue);
  font-size: 6rem;
  /* opacity: 0.6; */
}

@media screen and (max-width: 1268px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1068px) {
  .sectionTop {
    align-items: center;
    justify-content: center;
  }

  .heading {
    width: 80%;
    text-align: center;
  }

  .leftCopy {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0rem;
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    width: 100%;
  }

  .leftCopy {
    width: 90%;
  }
}

@media screen and (max-width: 568px) {
  .container {
    padding: 2rem;
    padding-top: 10rem;
  }

  .sectionTop {
    margin-bottom: 2rem;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .heading,
  .leftCopy {
    width: 100%;
    text-align: left;
  }

  .imgContainer {
    width: 100%;
    height: 275px;
  }

  .bottom {
    grid-gap: 3rem;
  }

  .right {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
    background-color: var(--blackii);
    border-radius: 10px;
    gap: 4rem;
    border-bottom: none;
  }

  .iconBox {
    order: -1;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 380px) {
  .span {
    white-space: inherit;
  }
}
