.container {
  background-color: var(--black);
  border-radius: 25px;
  position: relative;
  padding: 10rem;
  clip-path: var(--clip-path-7);
}

.cornerContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  pointer-events: auto;
}

.sectionTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
  margin-top: 5rem;
}

.bottom {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-gap: 5rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.heading {
  color: var(--tan);
  width: 80%;
}

.span {
  font-family: var(--PPNeueMontrealMediumThick);
  color: var(--blue);
}

.leftCopy {
  color: var(--tan);
  width: 80%;
}

.imgContainer {
  width: 100%;
  max-width: 612px;
  border-radius: 15px;
  background-color: var(--tan);
  padding: 2rem;
  margin-top: 3rem;
}

.img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 15px;
}
.right {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3rem;
}

.card {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 4rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--blackii);
}

.indexInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.title {
  margin-bottom: 1rem;
  color: var(--tan);
  font-weight: 700 !important;
  font-family: var(--inter);
  font-size: 1.4rem;
}

.description {
  color: var(--gray);
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: var(--blue);
  font-size: 6rem;
}

@media screen and (max-width: 1268px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1068px) {
  .container {
    padding: 3rem 5rem;
    padding-top: 8rem;
    padding-bottom: 10rem;
  }

  .sectionTop {
    align-items: center;
    justify-content: center;
  }

  .heading {
    width: 60%;
    text-align: center;
  }

  .leftCopy {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    width: 100%;
  }

  .leftCopy {
    width: 90%;
  }
}

@media screen and (max-width: 568px) {
  .container {
    padding: 0rem;
    background-color: transparent;
    clip-path: none;
  }

  .bottom {
    grid-gap: 2rem;
  }

  .left {
    background-color: var(--black);
    padding: 10rem 5rem;
    padding-bottom: 11rem;
    clip-path: var(--clip-path-7);
  }

  .sectionTop {
    margin-bottom: 2rem;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .heading,
  .leftCopy {
    width: 100%;
    text-align: left;
  }

  .right {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }

  .card {
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
    background-color: var(--black);
    padding: 3rem;
    border-radius: 15px;
    border: 1px solid var(--tan);
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 90px;
  }

  .iconBox {
    order: -1;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
