.container {
  padding: 20rem 0rem;
  padding-top: 0rem;
}

.top {
  background-color: var(--black);
  height: 100%;
  width: 80%;
  clip-path: var(--clip-path-7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 3rem;
  padding: 10rem 8rem;
}

.heading {
  color: var(--tan);
  /* text-align: center; */
}

.span {
  font-family: var(--PerfectlyNinetiesItalic);
  font-weight: 500;
  color: var(--tan);
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1268px) {
  .top {
    width: 80%;
  }

  .heading,
  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 1068px) {
  .top {
    margin-top: 7rem;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .imgContainer {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .top {
    width: 100%;
    padding: 10rem 5rem;
    padding-bottom: 12rem;
  }

  .heading {
    text-indent: 0rem;
    text-align: left;
  }

  .content {
    margin-top: 7rem;
  }
}
