.container {
  /* background-color: var(--tan); */
  /* border-radius: 25px; */
  /* padding-top: 10rem; */
  margin-top: 15rem;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
}

.heading {
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.span {
  color: var(--blue);
  font-family: inherit;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5rem;
  margin-top: 5rem;
}

.imgContainer {
  position: relative;
  width: 350px;
  height: 350px;
}

.img {
  object-fit: contain;
}

.copy {
  width: 60%;
}

@media screen and (max-width: 1268px) {
  .heading,
  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 1068px) {


  .top {
    margin-top: 7rem;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .imgContainer {
    width: 100%;
  }
}

@media screen and (max-width: 668px) {


  .heading {
    text-indent: 0rem;
    text-align: left;
  }

  .content {
    margin-top: 7rem;
  }

}
