.container {
  position: relative;
  overflow: hidden;
  margin: 1rem;
  background-color: var(--tan);
  padding-bottom: 1rem;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--black);
  border-radius: 25px;
  z-index: 0;
}

.content {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-gap: 3rem;
  margin-top: 10rem;
  position: relative;
  z-index: 1;
}

.navContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200000000;
  pointer-events: auto;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}

.heading {
  color: var(--tan);
}

.span {
  color: var(--blue);
  font-family: var(--PerfectlyNinetiesItalic);
}

.copy {
  color: var(--textii);
  max-width: 600px;
  font-family: var(--inter);
  font-weight: 600;
  font-size: 2rem;
}

.imgContainerii {
  display: none;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.circleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 15rem; */
}

.pulsingCircles {
  position: absolute;
  width: 304px;
  height: 304px;
  border-radius: 50%;
  z-index: 1;
}

.pulsingCircles::before,
.pulsingCircles::after,
.pulsingCircles div {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: 2px solid var(--blue);
  top: -4px;
  left: -4px;
  transform: scale(1);
  animation: pulse 2s infinite ease-in-out;
}

.pulsingCircles::before {
  animation-delay: 0s;
}

.pulsingCircles::after {
  animation-delay: 0.5s;
  border: 3px solid var(--blue);
}

.pulsingCircles div {
  animation-delay: 1s;
  border: 4px solid var(--blue);
}

.imgContainer,
.imgContainerii {
  position: relative;
  width: 450px;
  height: 450px;
  /* background-color: var(--tan); */
  border-radius: 50%;
  z-index: 2;
}

.img {
  padding: 4rem;
  object-fit: cover;
  /* border-radius: 50%; */
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}

@media screen and (max-width: 1268px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5rem;
  }

  .left,
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .heading,
  .copy {
    text-align: center;
  }

  .imgContainer {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 568px) {
  .content {
    margin-top: 6rem;
  }

  .top {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .left .heading,
  .copy {
    width: 100%;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 4rem;
    width: 80%;
  }

  .right {
    display: none;
  }

  .imgContainer {
    height: 275px;
    width: 275px;
  }

  .pulsingCircles::before,
  .pulsingCircles::after,
  .pulsingCircles div {
    animation: none;
    display: none;
  }

  .imgContainerii {
    display: block;
    width: 100%;
    height: 200px;
  }

  .img {
    object-fit: contain;
    padding: 0rem;
  }
}

@media screen and (max-width: 380px) {
  .span {
    white-space: inherit;
  }

  .btnContainer {
    width: 90%;
  }
}
