.container {
  background-color: var(--black);
  border-radius: 25px;
  margin: 1rem;
  position: relative;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  margin-top: 10rem;
}

.navContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  pointer-events: auto;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}

.heading {
  color: var(--white);
}

.span {
  color: var(--blue);
  white-space: nowrap;
}

.copy {
  color: var(--white);
  width: 400px;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.lottieBox {
  width: 100%;
  height: 500px;
}

.lottie {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1268px) {
  .lottieBox {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0rem;
  }

  .left {
    align-items: center;
    justify-content: center;
  }

  .heading,
  .copy {
    text-align: center;
  }

  .lottieBox {
    width: 100%;
    height: 500px;
  }
}

@media screen and (max-width: 568px) {
  .top {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .heading,
  .copy {
    width: 100%;
    text-align: left;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .lottieBox {
    height: 300px;
  }
}

@media screen and (max-width: 380px) {
  .span {
    white-space: inherit;
  }
}
