.container {
  margin: 1rem;
  position: relative;
  /* margin: 20rem 10rem; */
  padding: 10rem 0rem;
}

.content {
  padding: 10rem 3rem;
  background-color: var(--yellow);
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1.5fr 3fr 1.5fr;
  grid-gap: 3rem;
  margin-bottom: 2rem;
}

.navContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  pointer-events: auto;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.heading {
  color: var(--black);
  text-align: center;
}

.span {
  font-family: var(--PerfectlyNinetiesItalic);
}

.copy {
  color: var(--black);
  max-width: 500px;
  text-align: center;
  font-family: var(--PPNeueMontrealMediumThick);
  font-size: 2rem;
}

.servicesContainer {
  list-style: none;
}

.service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  border-bottom: 1px solid var(--white);
  color: var(--lightBlue);
  font-weight: 600;
  padding: 1rem 0rem;
  width: 100%;
}

.service:nth-child(1) {
  border-top: 1px solid var(--white);
}

.blackDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--lightBlue);
  display: block;
  margin-left: auto;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 200px;
}

/* .imgContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--yellow);
  opacity: 0.2;
  border-radius: 15px;
  -webkit-mask-image: url(/icons/blob.svg);
  mask-image: url(/icons/blob.svg);
  -webkit-mask-position: 50% center;
  mask-position: 50% center;
  -webkit-mask-size: auto 100%;
  mask-size: auto 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
} */

.img {
  object-fit: contain;
  border-radius: 15px;
}

.right .img {
  transform: scaleX(-1);
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0rem;
    /* margin-top: 5rem; */
  }

  .heading,
  .copy {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .middle {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 568px) {
  .container {
    padding: 5rem 0rem;
    padding-bottom: 0rem;
  }

  .top {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .imgContainer {
    height: 200px;
  }

  /* .right {
    display: none;
  } */
}

@media screen and (max-width: 380px) {
  .span {
    white-space: inherit;
  }
}
