.container {
  padding: 10rem 0rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.heading {
  letter-spacing: 0px;
  text-align: center;
  line-height: 1.2;
}

.span {
  color: inherit;
  font-family: var(--PerfectlyNinetiesItalic);
  font-weight: 500;
  color: var(--blue);
}


.circleContainer {
  margin-top: 5rem;
}

.benefitsContainer {
  margin-top: 15rem;
}

@media screen and (max-width: 1268px) {
  .heading {
    width: 80%;
  }
}

@media screen and (max-width: 1068px) {
  .heading {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .container {
    padding: 7rem 0rem;
  }

  .content {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .heading {
    text-align: left;
  }
}

@media screen and (max-width: 380px) {
  .span {
    white-space: inherit;
  }
}
