.container {
  padding: 10rem 0rem;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
}

.heading {
  text-align: center;
}

.subHeading {
  color: var(--blue);
  font-size: 2rem;
  font-family: var(--PerfectlyNinetiesItalic);
  margin-bottom: -1rem;
}

.copy {
  text-align: center;
  width: 40%;
  color: var(--text);
  font-size: 1.8rem;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.card {
  border-radius: 15px;
  padding: 3rem;
  /* padding-bottom: 0rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 5rem;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  padding-top: 10rem;
  background-color: var(--tan);
  border: 1px solid var(--gray);
}

.title {
  text-align: center;
  letter-spacing: 0;
  font-size: 2.7rem;
  font-family: var(--PerfectlyNinetiesItalic);
  font-weight: 500;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 250px;
}

.imgContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: aliceblue; */
  background-color: var(--pink);
  opacity: 0.3;
  border-radius: 15px;
  -webkit-mask-image: url(/icons/blob.svg);
  mask-image: url(/icons/blob.svg);
  -webkit-mask-position: 50% center;
  mask-position: 50% center;
  -webkit-mask-size: auto 100%;
  mask-size: auto 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  animation: rotate 10s linear infinite;
}

.card:nth-child(1) .imgContainer::before {
  background-color: var(--green);
  opacity: 0.1;
}

.card:nth-child(2) .imgContainer::before {
  background-color: var(--yellow);
  opacity: 0.1;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.img {
  object-fit: contain;
}

@media screen and (max-width: 1268px) {
  .copy {
    width: 60%;
  }

  .bottom {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1068px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .copy {
    width: 80%;
  }

  .imgContainer::before {
    height: 70%;
  }
}

@media screen and (max-width: 568px) {
  .copy {
    width: 90%;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    padding-bottom: 4rem;
  }

  .imgContainer::before {
    height: 90%;
  }
}
