.container {
  padding: 10rem 0rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
  height: 100%;
  background-color: var(--blue);
}

.heading {
  font-size: 3.2rem;
  letter-spacing: 0px;
  line-height: 1.2;
  width: 75%;
}

.span {
  color: inherit;
  font-family: var(--PerfectlyNinetiesItalic);
  font-weight: 500;
  color: var(--tan);
}

.imgContainer {
  position: relative;
  width: 350px;
  height: 350px;
}

.img {
  object-fit: contain;
}

.right {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "one one one"
    "two two two"
    "three four five"
    "six six six";
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
}

/* Specific cards can be targeted if needed */
.card:nth-child(1) {
  grid-area: one;
}
.card:nth-child(2) {
  grid-area: two;
  /* background-color: var(--green3); */
  /* border: 1px solid var(--lightBlack); */
}
.card:nth-child(3) {
  grid-area: three;
}
.card:nth-child(4) {
  grid-area: four;
}
.card:nth-child(5) {
  grid-area: five;
}
.card:nth-child(6) {
  grid-area: six;
}

.card {
  padding: 2rem;
  background-color: var(--tan);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  gap: 1rem;
  height: 100%;
}

.title {
  font-size: 1.4rem;
  width: 100%;
  text-transform: capitalize;
  font-family: var(--inter);
  font-weight: 700;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .left {
    align-items: center;
    justify-content: center;
  }

  .heading {
    text-align: center;
    width: 80%;
  }

  .imgContainer {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .left {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .heading {
    text-align: left;
    width: 100%;
  }

  .right {
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six";
    grid-template-columns: repeat(1, 1fr);
    overflow-x: hidden;
  }
}

@media screen and (max-width: 380px) {
  .span {
    white-space: inherit;
  }
}
