.container {
  padding: 10rem 0rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
  height: 100%;
  background-color: var(--blue);
  /* width: 60%; */
  padding: 3rem;
  clip-path: var(--clip-path-1);
}

.heading {
  font-size: 3.2rem;
  letter-spacing: 0px;
  line-height: 1.2;
  /* width: 75%; */
  color: var(--tan);
}

.span {
  color: inherit;
  font-family: var(--PerfectlyNinetiesItalic);
  font-weight: 500;
  color: var(--tan);
}

.imgContainer {
  position: relative;
  width: 350px;
  height: 350px;
}

.img {
  object-fit: contain;
}

.right {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas:
    "one one one"
    "two two two"
    "three four five"
    "six six six";
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
}

.card:nth-child(1) {
  grid-area: one;
}
.card:nth-child(2) {
  grid-area: two;
}
.card:nth-child(3) {
  grid-area: three;
}
.card:nth-child(4) {
  grid-area: four;
}
.card:nth-child(5) {
  grid-area: five;
}
.card:nth-child(6) {
  grid-area: six;
}

.card {
  padding: 2rem;
  background-color: var(--tan);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  gap: 1rem;
  height: 100%;
}

.title {
  font-size: 1.4rem;
  width: 100%;
  text-transform: capitalize;
  font-family: var(--inter);
  font-weight: 700;
}

@media screen and (max-width: 1268px) {
  .content {
    width: 90%;
  }
}

@media screen and (max-width: 1068px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .left {
    align-items: center;
    justify-content: center;
  }

  .heading {
    text-align: center;
    width: 80%;
  }

  .card {
    padding: 3rem;
    gap: 2rem;
  }
}

@media screen and (max-width: 568px) {
  .content {
    grid-gap: 2rem;
  }
  
  .left {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 4rem 5rem;
  }

  .heading {
    text-align: left;
    width: 100%;
  }

  .right {
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six";
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }

  .card {
    border: 1px solid var(--blue);
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 90px;
  }
}

@media screen and (max-width: 380px) {
  .span {
    white-space: inherit;
  }
}
