.container {
  padding: 15rem 0rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-gap: 5rem; */
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
  height: 100%;
}

.heading {
  font-size: 3.2rem;
  letter-spacing: 0px;
  line-height: 1.2;
  /* text-align: right; */
  width: 50%;
}

.span {
  color: inherit;
  color: var(--blue);
}

.imgContainer {
  position: relative;
  width: 350px;
  height: 350px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.img {
  object-fit: contain;
}

.right {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas:
    "one one one"
    "two two two"
    "three four five"
    "six six six";
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  width: 60%;
  margin-left: auto;
  /* margin-right: auto; */
}

.card:nth-child(1) {
  grid-area: one;
  border-radius: 50px;
  padding-left: 3rem;
}
.card:nth-child(2) {
  grid-area: two;
}
.card:nth-child(3) {
  grid-area: three;
}
.card:nth-child(4) {
  grid-area: four;
}
.card:nth-child(5) {
  grid-area: five;
}
.card:nth-child(6) {
  grid-area: six;
  border-radius: 50px;
  padding-left: 3rem;
}

.card {
  padding: 2rem;
  background-color: var(--tan);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  gap: 1rem;
  height: 100%;
}

.title {
  font-size: 1.4rem;
  width: 100%;
  text-transform: capitalize;
  font-family: var(--inter);
  font-weight: 700;
  color: var(--blue);
}

@media screen and (max-width: 1268px) {
  .content {
    width: 90%;
  }
}

@media screen and (max-width: 1068px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .left,
  .right {
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .heading {
    text-align: center;
    width: 80%;
  }

  .imgContainer {
    width: 100%;
  }

  .card {
    padding: 3rem;
    gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .card:nth-child(1),
  .card:nth-child(6) {
    border-radius: 10px;
    padding-left: auto;
  }

    .right {
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six";
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }

}

@media screen and (max-width: 568px) {
  .content {
    grid-gap: 2rem;
  }

  .left {
    width: 100%;
  }

  .heading {
    width: 100%;
  }


  .imgContainer {
    height: 300px;
  }

  /* .card {
    border: 1px solid var(--blue);
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 90px;
  } */
}

@media screen and (max-width: 380px) {
  .span {
    white-space: inherit;
  }
}
